/petsc/nls_eco_problem
/README.html
/README_cache/*
/petsc/nls_eco_problem_parallel
/petsc/GPATH
/petsc/GRTAGS
/petsc/GTAGS
/petsc/test_fun.c
/petsc/test_main
/petsc/test_main.c
/.Rhistory
/trilinos/GPATH
/trilinos/GRTAGS
/trilinos/GTAGS
/trilinos/1Dfem.cpp
/trilinos/1DfemInterface.hpp
/trilinos/nls_eco_problem
